#Output files
output/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
# Usually these files are written by a python script from a template
# They are usually named *.spec
*.spec

# Installer logs
pip-install-*.log
pip-install-*.txt
pip-*.log
pip-*.txt

# Unit test / coverage reports
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.sqlite3
*.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation docs
docs/_build/

# PyInstaller
# Usually these files are written by a python script from a template
# They are usually named *.spec
*.spec